<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>寻找自己的职业道路</title>
</head>
<link href="stylesheets/analysis.css" type="text/css" rel="stylesheet"/>
<body>
<iframe src="http://139.199.109.224:3000/top" id="analysisTop"></iframe>
<div id="analysisImgDiv">
    <img src="images/1.PNG" id="analysisImg" >
</div>
<div id="analysisTxt">
    <textarea id="analysisTextArea"></textarea>
</div>
<div id="analysisData">
    <img src="images/Recommend.png" id="analysisDataImg" onclick="window.open('http://139.199.109.224：3000/Recommend')">
</div>
</body>
</html>