<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>寻找自己的职业道路</title>
</head>
<link rel="stylesheet" href="stylesheets/post.css" type="text/css">
<body>
<iframe id="postTop" src="http://139.199.109.224:80/top"></iframe>                                                                 <!--*********************-->
<div id="postBody">
    <p id="postBodyTitle">
        Python简析
    </p>
    <div id="postTopTxt">
        <p id="postBodyP">
            &nbsp;&nbsp;开始阅读《零基础入门学习Python》，看了三天，初始Python的基本语法、列表和字典、包和模块等概念。推荐小甲鱼的这本书作为入门，书籍是基于Python3作为开发语言，具有时效性；语言轻松易懂；一边抄代码一边学语法，3天即可以稍微上手Python。

            在这三天间，还参考百度教程，配置好Python的运行环境。在win7环境下，安装了Python3.6，Anaconda3，PcCharm，后来才发现，只需要下载一个Anaconda3就可以了0-0熟悉了Python的运行环境，熟悉了pip、conda等命令的用法、第三方包的安装。

            此外，还配置了MySQL、Navicat、PowerBI等相关软件。现在想想，有点多余了，其实暂时是用不到的。但在做项目的时候，终会用到。详细的Python环境配置可以参考我这篇博客。

            以上的过程大概持续了5天。
            由于刚开始的时候，把自己的求职目标定位为“基于Python的数据分析师”，因此还检索了很多数据分析的岗位JD。包括数据分析的岗位要求、学习规划、职业分类等等。自己也很懈怠。

            11月27-12月4日去厦门大学出差，期间只能看看书。看的是《利用Python进行数据分析》，草草浏览了一遍，只记得NumPy、Matplotlib、pandas这几个包的名字而已=-=京东双11的时候，买了《利用Python进行数据分析》、《Python金融大数据分析》、《Python零基础入门学习》、《谁说菜鸟不会数据分析》、《深入浅出数据分析》这几本书，一共大概200元，但是过了一个月，目前只看了《Python零基础入门学习》这一本而已。。。

            这一节很好的的教程：

        </p>
    </div>
</div>
<div id="postComment">
    <p id="postCommentP">发表评论:</p>
    <textarea id="postCommentTxt">
    </textarea>
    <button id="postCommentBtn" value="发表">发表</button>
</div>
<ul id="postCommentUl">
    <ol class="postCommentOl">
        <p class="postCommentOlP">赞一个</p>
    </ol>
    <ol class="postCommentOl">
        <p class="postCommentOlP">赞一个</p>
    </ol>
    <ol class="postCommentOl">
        <p class="postCommentOlP">赞一个</p>
    </ol>
    <ol class="postCommentOl">
        <p class="postCommentOlP">赞一个</p>
    </ol>
</ul>
<p id="keyWord"><%= keyWord %></p>
</body>
</html>