<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title[0] %></title>
</head>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script type="text/javascript" src="/javascripts/ja.js"></script>
<body>
<button onclick="ajax()">测试</button>
<input id="iInput">
<a href="http://localhost:3000/">happy</a>
</body>
</html>