<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>top</title>
</head>
<link href="/stylesheets/top.css" rel="stylesheet" type="text/css"/>
<!--<iframe src="top.html" width="100%" height="50px"></iframe>                         <!--粘贴使用更佳-->
<body>
<div id="topTop">
    <span id="topPTop">数据学习</span>
    <span id="topP1" class="topP">搜索查询</span>
    <span id="topP2" class="topP">热门推荐</span>
    <span id="topP3" class="topP">社区简报</span>
    <span id="topP4" class="topP">比赛认证</span>
    <div id="topLogin"><p>登录</p></div>
</div>
</body>
</html>